#body {
    color: #516188;
    width: 100vw;
    height: 100vh;
    background: #f7fbfc;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-container {
    text-align: center;
}

#my-signin2 {
    display: flex;
}

#lang {
    display: block;
    position: absolute;
}

.measures-input {
    margin: .5em;
    height: 3.5em;
    width: 22em;
}

.button {
    background-color: #516188;
    width: 8em;
    margin-top: 1em;
    color: #fff;
    border-radius: 1em;
    font-size: 1.5em;
    padding: .3em;
    border: none;
    border-bottom: 2px solid #000;
}

.button:hover {
    background-color: #8594b8;
    cursor: pointer;
}

.button:active {
    border: none;
}

#register {
    display: flex;
}

#register>a>button {
    margin-left: 1em;
    border: none;
    color: #516188;
    background-color: #fff;
    padding: 0 1em 0 1em;
    border-radius: .8em;
    border-bottom: 1px solid #000;
}

#register>a>button:hover {
    background-color: #eee;
}

#register>a>button:active {
    border: none;
}

#link {
    color: #000;
}

#link:hover {
    color: #444;
}


@media screen and (min-width:768px) {
    #main {
        border-radius: 30px;
        width: 90%;
        height: 80%;
        background-color: #e2ecf6;
        box-shadow: 1px 1px 1px #51618855 inset;
        overflow: hidden;
    }

    #login-container {
        width: 50%;
        float: left;
        height: 100%;
        font-family: 'SecularOne';
    }

    #img-container {
        width: 50%;
        height: 100%;
        float: right;
    }

    #login-cont-inside {
        flex-direction: column;
        width: 70%;
        height: 70%;
    }

    #login-cont-inside>h1 {
        font-size: 3em;
    }

    #img-container>img {
        border-radius: 30px;
        width: 90%;
        height: 70%;
        opacity: 70%;
        box-shadow: 2px 2px 1px #fff7 inset;
    }
}